body{
    background-color:rgb(255, 255, 255);
    color:rgb(14, 13, 13);
    font-family: Arial, sans-serif;
}
header{
    background-color:blueviolet;
    color:rgb(240, 229, 229); 
    text align: center;
    padding:30px;
}
h1{
    font-size: 36px;
}
h2{
    color: blueviolet;
}
p{
 font-size: 18px;
 line-height: 1.6;
} 