body{
    background-color:blue;
    color:crimson;
    font-family: Arial, sans-serif;
}
header{
    background-color:blueviolet;
    color:black; 
    text align:center;
    padding:30px;
}
h1{
    font-size: 36px;
}
h2{
    color:;
}
p{
 font-size: 18px;
 line-height: 1.6;
}